html {
  box-sizing: border-box;
  line-height: 1.5;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  font-family: Merriweather, serif;
  background-color: #d05c2e;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: #fff;
  margin: 0 0 .7rem;
  padding: .5em 0 0;
  font-weight: bold;
}

nav a {
  text-decoration: none;
  font-size: 1.125rem;
  text-align: center;
  color: #fff;
  padding: .4rem 0;
}

a:hover {
  background-color: #a63f38;
}

.home {
  float: left;
  width: 50%;
  border: 3px solid #a63f38;
}

.cereals {
  float: left;
  width: 50%;
  border: 3px solid #a63f38;
}

.legumes {
  float: right;
  border: 3px solid #a63f38;
  overflow: hidden;
}

ul {
  padding: 0;
  list-style: none;
  margin: 0;
}

.left {
  float: left;
  width: 10%;
}

.right {
  float: right;
  width: 10%;
}
